/*
 * TWEB TE 2
 * Auteur : Mélanie Huck
 * Date : 21.01.2016
 */ 

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    height:100%;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999; 
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
	background: #404040;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
        box-shadow: none;
    outline: 0 none;
    border: 0px;
}

.sidebar-nav > .sidebar-brand {
    height: 80px;
    font-size: 32px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    /*color: #999999; */
    color: #FFFFFF;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

body {
   /* background-color: #d9d9d9; */
   background-color: #FFFFFF;
}

.btn-primary  {
	background: #000000;
        color: #999999;
    outline: 0 none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus  {
	background: #000000;
    color: #999999;
    border: 0px;
    box-shadow: none;
        outline: 0 none;
}

.btn-primary:hover {
	background: #404040;
    color: #FFF;
	box-shadow: none;
	    border: 0px;;
	        outline: 0 none;
}


.btn-sidebar {
    box-shadow: none;
    outline: 0 none;
    border: 0px;
    width: 160px;
    background: #99ffcc;
}

.btn-sidebar:focus, .btn-sidebar:active:focus, .btn-sidebar.active:focus  {
    box-shadow: none;
    outline: 0 none;
    border: 0px;
   /* background: #d9d9d9; */
}

.row {
	margin-top: 0px;
}


#imgLogo {
margin-top:40px; 
position:center;
margin-left: 10px;
}


.margin-bottom {
margin-bottom:15px;
}


#input-bottom {
width: 160px;
margin-left: 20px;
position: center;
text-decoration: none;
color: #999999;
}

.form-group-fin {
font-weight: 100;
text-decoration: none;
color: #999999;
font-style: normal;
}

.center {
    margin: auto;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
}

.gras {
color: #ff3333;
}

.center p {
margin-bottom: 2px;
margin-top: 2px;
padding-left: 10px;
padding-right: 10px;
}

.center h4{
	text-align: center;
font-weight: 800;
font-size: 14px;
margin-bottom: 2px;
margin-top: 2px;
}
